#gameScreen{
	position: relative;
	background-color: silver;
	overflow: hidden;
	border: 2px solid rgb(57,80,125);
	border-radius: 100px 100px; 
	margin: 0px auto; 
}

.gameObject{
	position: absolute;
	z-index: 1;
}

body {
	font-family: 'Abril Fatface', cursive;
	background-image: url('../img/website_bg.png');
	text-align: center;  
	color:rgb(57,80,125); 
}

h1 {
	font-size: 4em; 
	text-shadow: 2px 2px white; 
}
