body {
    background-color: black;
    color:white;
}

header, main, nav, footer {
    text-align: center;
}

nav a { /* links within "nav" container */
    padding: 6px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none; /* removes underline */
    color: white; /* by default, links are blue*/
}

nav a:hover { /*pseudo class*/
    border-bottom: 2px orange solid;
    font-size: 2em;
    transition: .9s; /* transition effect */

}

nav .active {
    background-color: #33ccff;
    color: white;
}

#me, #welcomeText {
    float: left;
    text-align: left;
}

#me {
    padding-left: 425px; 
}

footer {
    clear: left;
    color: #33ccff;
}

table {
    margin: 0px auto;
}

td {
    padding-right: 10px;
    font-size:  1.3em
}

td strong{
    color: orange;
}

/* table colors used in about page */
#table-header {
    background-color: #351a00;
}

.table-row{
    background-color: #753900
}

/* aligns table of interest */
ul {
    text-align: left;
    padding-left: 200px;
    width: 50%;
    margin: auto;
}

/* Changes the color to yellow for the heading of each sentence for the about page */
.hobby{
    color: yellow;
}

/* Change the font of the header */
h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    margin-bottom: 0px;
}

/* Used for positioning the contact google form in the center */
.contactPage {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.contentIframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
